#discuss {
  width: 990px;
  margin:0 auto;
  min-height: 100px;
}

#discuss div.mt{
  /* 高度，边框，背景 */
  height: 30px;
  border: 1px solid #ddd;
  border-top: 2px solid #999;
  background: #F7F7F7;
}

body{
  font-size: 12px;
  color: 9C9A9C;
}

discuss{
  
}