#nav,#banner,#main,#foot-box,#footer{
  border:1px solid #000;
}

/*1、通用 CSS ：大部分元素具备的样式*/
body{
  font:12px "micsoft yahei",Arial,Helvetica,sans-serif;
  color:#666;
  margin:0;
}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
  margin:0;
  padding:0;
  list-style:none;
}
img{
  vertical-align:bottom;
}
a{
  color:#666;
  text-decoration:none;
}
a:hover{
  color:#ff0700;
  text-decoration:underline;
}
.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}

/*2、整体布局*/
#top-box,#top-main,#nav,#banner,#main,#foot-box,#footer{
  width:1211px;
  margin:0 auto;
}
/*第一模块：页面顶部*/
#top{
  /*高度，行高，背景，下边框*/
  height:30px;
  line-height:30px;
  background:#f7f7f7;
  border-bottom:1px solid #eee;
}
#top-box>img{
  margin:9.5px 5px 0 0;
}
#top-box>ul>li{
  float:left;
  margin-left:5px;
}
#top-box>ul>li>b{
  border-left:1px solid #ddd;
  margin-right:5px;
}
#top-box li.vip>a{
  /*左内边距，背景属性*/
  padding-left:29px;
  background:url(Images/vip.jpg) no-repeat 0 center;
}
/*手机京东*/
#top-box li.app-jd>a{
  /*行内块，高度，行高，左内边距，背景*/
  display:inline-block;
  height:22px;
  line-height:22px;
  padding-left:18px;
  background:url(Images/iconlist_2.png) no-repeat -128px -360px;
}
#top-box li.app-jd>a:hover{
  background-position:-128px -399px;
}
/*客户服务*/
#top-box li.service>a{
  /*左右内边距，行内块，高度，边框(左右上，透明)*/
  padding:0 15px;
  display:inline-block;
  height:26px;
  line-height:26px;
  border:1px solid transparent;
  border-bottom:none;
}

/*弹出菜单*/
#top-box li.service{
  /*相对定位：配合#service-items做绝对定位*/
  position:relative;
}
#service-items{
  /*宽度，背景颜色，边框(左右下)，定位：绝对定位及其位置摆放*/
  width:78px;
  background:#fff;
  border:1px solid #ddd;
  border-top:none;
  text-align:center;
  position:absolute;
  top:28px;
  left:6px;
  /*默认隐藏*/
  display:none;
}
/*当鼠标移入到 li.service 上时，显示 #service-items*/
#top-box li.service:hover #service-items{
  display:block;
}
/*当鼠标移入到 li.service 上时，显示 a 标记的边框，背景 ...*/
#top-box li.service:hover>a{
  /*边框颜色，背景颜色*/
  border-color:#ddd;
  background-color:#fff;
} 
/*第二模块：LOGO 和 搜索框*/
#top-main{
  padding:10px 0;
}
#search-box{
  /*左浮动，宽度，min-height，左右外边距*/
  float:left;
  width:500px;
  min-height:30px;
  margin:0 80px 0 40px;
}
#search-box div.search{
  /*高度，背景颜色*/
  height:30px;
  background:#E4393C;
  /*内边距*/
  padding:3px;
}
#search-box input{
  /*宽度，高度，取消边框 ，取消 内边距*/
  width:410px;
  height:30px;
  border:none;
  padding:0;
}
#search-box button{
  /*宽度，高度，取消边框，背景颜色*/
  width:80px;
  height:28px;
  border:none;
  background:#E4393C;
  /*文本：大小，加粗，颜色*/
  font-size:14px;
  font-weight:bold;
  color:#fff;
}
/*热门搜索*/
#search-box div.hot-words{
  margin-top:5px;
  color:#999;
  /*溢出隐藏*/
  width:500px;
  height:14px;
  overflow:hidden;
}
#search-box div.hot-words a{
  color:#999;
  margin-right:5px;
}
/*我的京东 20*17*/
#my-jd{
  /*左内边距，高度*/
  padding-left:30px;
  height:27px;
  /*边框，背景，行高*/
  border:1px solid #efefef;
  background:#f7f7f7 url(Images/iconlist_2.png) no-repeat -116px -25px;
  line-height:27px;
  /*浮动*/
  float:left;
  /*宽度：以便能够显示 三角下标*/
  width:72px;/*12px(每个字大小) * 6(按6个子宽度算)*/
}
#my-jd:hover{
  background-color:#fff;
  background-position:-116px -55px;
}
#my-jd b{
  /*边框，上边框颜色*/
  border:5px solid transparent;
  border-top-color:#ccc;
  /*相对定位：调整位置*/
  position:relative;
  top:10px;
}



