    #top,
    #top-box,
    img,
    ul {
        border: 1px solid black;
    }
    
    #top {
        height: 30px;
        line-height: 30px;
        background: #f7f7f7;
        border-bottom: 1px solid #eee;
    }
    
    #top-box>img {
        margin: 10px 5px 0 0;
    }
    
    #top-box>ul>li {
        float: left;
        margin-left: 10px;
    }
    
    #top-box>ul>li>b {
        border-left: 1px solid #ddd;
        margin-right: 5px;
    }
    
    #top-box li.vip>a {
        /*左内边距，背景属性*/
        padding-left: 29px;
        background: url(Images/vip.jpg) no-repeat 0 center;
    }