body {
    font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    vertical-align: bottom;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #ff0700;
    text-decoration: underline;
}

.lf {
    float: left;
}

.rf {
    float: right;
}

.clear {
    clear: both;
}


/*2、整体布局*/

#top-box,
#top-main,
#nav,
#banner,
#main,
#foot-box,
#footer {
    width: 1211px;
    margin: 0 auto;
}