/*1、布局*/
#main{
  display:flex;
  /*允许项目换行*/
  flex-wrap:wrap;
}
#bread-crumb{
  width:1211px;
}
#product-intro{
  width:1211px;
}
#lf-product{
  width:211px;
}
#rt-product{
  width:990px;
  margin-left:10px;
}
/*2、面包屑导航*/
#bread-crumb{
  margin-bottom: 10px;
}
#bread-crumb b{
  font-size:18px;
}
/*3、产品介绍*/
#product-intro{
  /*弹性布局*/
  display:flex;
}
#preview>p{
  border:1px solid #ddd;
}
#preview>div{
  display:flex;
  justify-content: space-between;
  margin-top:10px;
}
#preview>div>a{
  /*宽度，高度，背景*/
  width:17px;
  height:54px;
  background:url(My/images/background-list.png) no-repeat 0 -40px;
}
#preview>div>a.next{
  background-position:-17px -40px;
}
#preview>div ul{
  /*弹性布局项目：占据剩余所有空间，左右各8px外边距*/
  flex-grow:1;
  margin:0 8px;
  /*弹性布局容器：display，让项目们水平两端对齐*/
  display:flex;
  justify-content:space-between;
}
#preview>div ul li{
  /*边框*/
  border:1px solid #ddd;/* 52 * 54 */
  padding:1px;/* 54 * 54 */
}
#preview>div ul li:hover{
  border:2px solid #e4393c;/* 56*56 */
  padding:0;/* 54 * 54 */
}
/*右侧：文字列表*/
#detail{
  /*左外边距，占据剩余所有空间，高度*/
  margin-left:10px;
  flex-grow:1;
  height:352px;
}
#detail h1 p{
  color:#e4393c;
}
#detail h1{
  padding-bottom:10px;
  border-bottom:1px dotted #ddd;
  margin-bottom:10px;
}
#summary{
  /*高度，弹性布局容器，将主轴更改为交叉轴，主轴排列对齐方式：两端对齐*/
  height:283px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
#summary>li{
  display:flex;
  /*内容 垂直居中对齐*/
  align-items:center;
}
#summary>li>p{
  /*宽度，文本右对齐，字体：宋体*/
  width:72px;
  text-align:right;
  font-family:simsun;
}
#summary a{
  color:#005aa0;
}
/*京东价*/
#summary-price b{
  /*大小，颜色*/
  font-size:18px;
  color:#e4393c;
}






