li{
	list-style:none;
}
li span{
	padding-left: 20px;
	cursor: pointer;
  background: url("../img/add.png") no-repeat center left;
}
li ul{display: none; }
.open{ background: url("../img/minus.png") no-repeat center left; }
.open+ul{ display: block; }