#footer{
  border:1px solid #000;
}

/*1、通用 CSS ：大部分元素具备的样式*/
body{
  font:12px "microsoft yahei",Arial,Helvetica,sans-serif;
  color:#666;
  margin:0;
}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
  margin:0;
  padding:0;
  list-style:none;
}
img{
  vertical-align:bottom;
}
a{
  color:#666;
  text-decoration:none;
}
a:hover{
  color:#ff0700;
  text-decoration:underline;
}
.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}

/*2、整体布局*/
#top-box,#top-main,#nav,#banner,#main,#foot-box,#footer{
  width:1211px;
  margin:0 auto;
}
/*第一模块：页面顶部*/
#top{
  /*高度，行高，背景，下边框*/
  height:30px;
  line-height:30px;
  background:#f7f7f7;
  border-bottom:1px solid #eee;
}
#top-box>img{
  margin:9.5px 5px 0 0;
}
#top-box>ul>li{
  float:left;
  margin-left:5px;
}
#top-box>ul>li>b{
  border-left:1px solid #ddd;
  margin-right:5px;
}
#top-box li.vip>a{
  /*左内边距，背景属性*/
  padding-left:29px;
  background:url(Images/vip.jpg) no-repeat 0 center;
}
/*手机京东*/
#top-box li.app-jd>a{
  /*行内块，高度，行高，左内边距，背景*/
  display:inline-block;
  height:22px;
  line-height:22px;
  padding-left:18px;
  background:url(Images/iconlist_2.png) no-repeat -128px -360px;
}
#top-box li.app-jd>a:hover{
  background-position:-128px -399px;
}
/*客户服务*/
#top-box li.service>a{
  /*左右内边距，行内块，高度，边框(左右上，透明)*/
  padding:0 15px;
  display:inline-block;
  height:26px;
  line-height:26px;
  border:1px solid transparent;
  border-bottom:none;
}

/*弹出菜单*/
#top-box li.service{
  /*相对定位：配合#service-items做绝对定位*/
  position:relative;
}
#service-items{
  /*宽度，背景颜色，边框(左右下)，定位：绝对定位及其位置摆放*/
  width:78px;
  background:#fff;
  border:1px solid #ddd;
  border-top:none;
  text-align:center;
  position:absolute;
  top:28px;
  left:6px;
  /*默认隐藏*/
  display:none;
}
/*当鼠标移入到 li.service 上时，显示 #service-items*/
#top-box li.service:hover #service-items{
  display:block;
}
/*当鼠标移入到 li.service 上时，显示 a 标记的边框，背景 ...*/
#top-box li.service:hover>a{
  /*边框颜色，背景颜色*/
  border-color:#ddd;
  background-color:#fff;
} 
/*第二模块：LOGO 和 搜索框*/
#top-main{
  padding:10px 0;
}
#search-box{
  /*左浮动，宽度，min-height，左右外边距*/
  float:left;
  width:500px;
  min-height:30px;
  margin:0 80px 0 40px;
}
#search-box div.search{
  /*高度，背景颜色*/
  height:30px;
  background:#E4393C;
  /*内边距*/
  padding:3px;
}
#search-box input{
  /*宽度，高度，取消边框 ，取消 内边距*/
  width:410px;
  height:30px;
  border:none;
  padding:0;
}
#search-box button{
  /*宽度，高度，取消边框，背景颜色*/
  width:80px;
  height:28px;
  border:none;
  background:#E4393C;
  /*文本：大小，加粗，颜色*/
  font-size:14px;
  font-weight:bold;
  color:#fff;
}
/*热门搜索*/
#search-box div.hot-words{
  margin-top:5px;
  color:#999;
  /*溢出隐藏*/
  width:500px;
  height:14px;
  overflow:hidden;
}
#search-box div.hot-words a{
  color:#999;
  margin-right:5px;
}
/*我的京东 20*17*/
#my-jd{
  /*左内边距，高度*/
  padding-left:30px;
  height:27px;
  /*边框，背景，行高*/
  border:1px solid #efefef;
  background:#f7f7f7 url(Images/iconlist_2.png) no-repeat -116px -25px;
  line-height:27px;
  /*浮动*/
  float:left;
  /*宽度：以便能够显示 三角下标*/
  width:72px;/*12px(每个字大小) * 6(按6个子宽度算)*/
}
#my-jd:hover{
  background-color:#fff;
  background-position:-116px -55px;
}
#my-jd b{
  /*边框，上边框颜色*/
  border:5px solid transparent;
  border-top-color:#ccc;
  /*相对定位：调整位置*/
  position:relative;
  top:10px;
}
/*****第三模块：主导航*****/
#nav{
  /*高度，背景*/
  height:40px;
  background:#E64346;
}
#nav>p{
  /*左浮动，宽度，高度，背景*/
  float:left;
  width:210px;
  height:40px;
  background:#CD2A2C;
}
#nav>p a{
  /*左内边距，行高，取消下划线，颜色，大小，加粗,左浮动*/
  padding-left:15px;
  line-height:40px;
  text-decoration:none;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  float:left;
}
#nav li{
  float:left;
}
#nav li a{
  /*行内块，宽度，高度，行高，水平居中，文字大小，颜色，加粗，取消下划线*/
  display:inline-block;
  width:100px;
  height:40px;
  line-height:40px;
  text-align:center;
  font-size:14px;
  color:#fff;
  font-weight:bold;
  text-decoration:none;
}
/*******第四模块：banner部分*********/
#cate-box{
  /*宽度，高度，边框，上内边距，box-sizing，浮动*/
  width:210px;
  height:410px;
  border:2px solid #CD2A2C;
  border-top:none;
  padding-top:5px;
  box-sizing:border-box;
  float:left;
  background-color:#fafafa;
  /*相对定位：配合 #sub-cate-box 做绝对定位*/
  position:relative;
}
#cate-box>li>a{
  /*块级，宽度，左内边距，上下内边距，box-sizing，上边框透明，下边框白色*/
  display:block;
  width:196px;
  padding:5px 0 5px 10px;
  box-sizing:border-box;
  border-top:1px solid transparent;
  border-bottom:1px solid #fff;
  /*字体：颜色，大小，下划线*/
  color:#333;
  font-size:14px;
  text-decoration:none;
}
#cate-box>li>a:hover{
  /*背景颜色，边框颜色*/
  background-color:#fff;
  border-color:#ddd;
  /*调整 z-index 以便能够 压在 #sub-cate-box 之上*/
  position:relative;
  z-index:20;
}
/*弹出框*/
#sub-cate-box{
  /*宽度，高度，边框，内边距，定位*/
  width:710px;
  height:400px;/*测试：留着删除*/
  border:1px solid #ddd;
  padding:10px;
  background:#fff;
  /*绝对定位*/
  position:absolute;
  top:0px;
  left:195px;
  z-index:10;
}
/*子分类内容*/
#sub-cate-items{
  width:500px;
  float:left;
}
#sub-cate-items li{
  /*左浮动，左边框，内边距*/
  float:left;
  border-left:1px solid #ddd;
  padding:5px;
}
#sub-cate-items ul{
  /*overflow,上边框，上下内边距*/
  overflow:hidden;
  border-top:1px solid #ddd;
  padding:5px 0;
}
#sub-cate-items li.title{
  /*取消左边框，宽度，文本右对齐*/
  border-left:none;
  width:60px;/*12px * 5 */
  text-align:right;
}
#sub-cate-items li.title a{
  /*加粗，颜色，下划线*/
  font-weight:bold;
  color:#e4393c;
  text-decoration:underline;
}
/*子分类banner*/
#sub-cate-banner{
  float:right;
}
#sub-cate-banner p{
  margin-top:10px;
}
#sub-cate-banner h3{
  color:#e4393c;
  margin:10px 0;
}
#sub-cate-banner li{
  line-height:1.5;
}
#sub-cate-box{
  display:none;
}
/*banner*/
#slider-box{
  /*宽度，高度，上左外边距，左浮动*/
  width:670px;
  height:400px;
  margin:10px 0 0 10px;
  float:left;
}
#slider li{
  /*宽度，高度，背景颜色，水平居中，行高，文本：颜色，大小，右外边距，倒角,浮动*/
  width:20px;
  height:20px;
  background:#3E3E3E;
  text-align:center;
  line-height:20px;
  color:#fff;
  font-size:14px;
  margin-right:10px;
  border-radius:50%;
  float:left;
}
#slider{
  position:relative;
}
#slider ul{
  position:absolute;
  right:40px;
  bottom:25px;
}
/*三幅小图*/
#ad>a{
  /*左浮动，宽度，高度，背景，上外边距*/
  float:left;
  width:25px;
  height:35px;
  background:url(Images/index/ad-arraw.png) no-repeat;
  margin-top:62px;
}
#ad>a:hover{
  background-image:url(Images/index/ad-arraw-hover.png);
}
#ad>a.next{
  background-position:0 -35px;
  float:right;
}
#ad{
  /*高度，左右下边框*/
  height:159px;
  border:1px solid #ddd;
  border-top:none;
}
#ad li{
  /*左浮动，宽度，上下内边距*/
  float:left;
  width:205px;
  padding:10px 0;
}
#ad li.mid{
  width:206px;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
}
/*右侧额外关注*/
#extra-focus{
  width:310px;
  float:right;
  height:400px;
  margin-top:10px;
}
/*京东快报*/
#news>p a{
  float:right;
  color:#005aa0;
}
#news>p b{
  font-size:14px;
}
#news>p{
  margin:10px 0 5px 0;
}
#news>div{
  /*边框，上下内边距,min-height,overflow*/
  border:1px solid #ddd;
  border-top:2px solid #aaa;
  padding:4px 0;
  min-height:50px;
  overflow:hidden;
}
#news>div ul{
  /*左右内边距，宽度，行高*/
  padding:0 10px;
  width:134px;
  line-height:25px;
}
#news>div ul.rt{
  border-left:1px solid #ddd;
  width:133px;
}
/*虚拟内容*/
#virtuals{
  /*宽度，高度，左上边框，上外边距*/
  width:309px;
  height:176px;
  border-top:1px solid #ddd;
  border-left:1px solid #ddd;
  margin-top:11px;
}
#virtuals li{
  /*左浮动，宽度，高度，右下边框*/
  float:left;
  width:76.25px;
  height:87px;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
/*********第六模块：页面底部-购物指南**********/
#foot-box{
  /*上边框，上内边距，上外边距，overflow*/
  border-top:1px solid #ddd;
  padding-top:10px;
  margin-top:10px;
  overflow:hidden;
}
#foot-box p{
  float:left;
  /*宽度，高度，背景，左右外边距*/
  width:40px;
  height:40px;
  background:url(Images/iconlist_2.png) no-repeat 0 -55px;
  margin:0 10px 0 50px;
}
#foot-box p.send-type{
  background-position:-50px -57px;
}
#foot-box ul{
  float:left;
  /*宽度，行高*/
  width:142px;
  line-height:22px;
}
#foot-box b{
  line-height:28px;
}
/********第五模块*********/
#main{
  margin:10px auto;
}
/*生活的橱窗 模块*/
#show-box>p{
  font-size:24px;
  font-weight:bold;
  margin-bottom:10px;
}
#show-box>p i{
  font-size:16px;
  font-weight:normal;
}
#show-imgs{
  overflow:hidden;
}
#show-imgs>li{
  /*浮动，宽度，高度，右外边距，下外边距*/
  float:left;
  width:295px;
  height:190px;
  margin:0 10px 10px 0;
  /*过渡 1000ms = 1s */
  transition:background 0.3s linear;
  /*相对定位：配合 div.text 做绝对定位*/
  position:relative;
}
#show-imgs>li:hover{
  background-position:-10px 0;
}
#show-imgs>li.no-margin{
  margin-right:0;
}
/*遮罩层*/
#show-imgs>li>p{
  /*宽度，高度，背景，透明度*/
  width:45%;
  height:100%;
  background:#fff;
  opacity:0.7;
}
li.pinpaijie{
  background-image:url(Images/index/show_01.jpg);
}
/*文字效果*/
#show-imgs div.text{
  /*绝对定位*/
  position:absolute;
  top:20px;
  left:20px;
}
#show-imgs h3{
  font-weight:normal;
  margin:5px 0;
}
#show-imgs h4{
  font-weight:normal;
  color:#e4393c;
}
#show-imgs ul{
  margin-top:20px;
}
#show-imgs i{
  /*行内块，宽度，高度，背景颜色，位置微调*/
  display:inline-block;
  width:2px;
  height:2px;
  background:#666;
  position:relative;
  bottom:3px;
}
#show-imgs div.text>span{
  /*内边距，背景，文本颜色*/
  padding:1px 3px;
  background:#e4393c;
  color:#fff;
}
#show-imgs div.text>div{
  margin-top:20px;
}
#show-imgs div.text>div b{
  color:#e4393c;
  font-size:24px;
  font-weight:normal;
}
#show-advs li{
  float:left;
}
#show-advs li.mid{
  margin:0 11px 0 12px;
}
#show-advs{
  overflow:hidden;
}

/*1F*/
div.floor{
  margin:10px 0;
}
div.floor>header{
  height:40px;
}
div.floor>header span{
  /*左浮动，宽度，高度，下边框，背景，上下内边距*/
  float:left;
  width:26px;
  height:33px;
  border-bottom:2px solid #aaa;
  background:url(Images/index/index_iconlist_01.png) no-repeat;
  padding:3px 0 2px 0;
  /*文本：水平居中，大小，颜色，加粗*/
  text-align:center;
  font-size:18px;
  color:#fff;
  font-weight:bold;
}
div.floor>header span:hover{
  background-position:-40px 0;
}
div.floor>header p{
  /*左浮动，宽度，下边框*/
  float:left;
  width:185px;
  border-bottom:2px solid #aaa;
  /*文字：大小，水平居中，加粗*/
  font-size:20px;
  text-align:center;
  font-weight:bold;
  /*上下内边距*/
  padding:6px 0;
}
/*大家电 ...*/
div.floor>header ul.tabs li{
  float:left;
}
div.floor>header ul.tabs a{
  /*块级,宽度，文字：大小，加粗，水平居中，取消下划线，下边框，上下内边距*/
  display:block;
  width:158px;
  font-size:14px;
  font-weight:bold;
  text-align:center;
  text-decoration:none;
  border-bottom:2px solid #aaa;
  padding:13px 0 6px 0; 
}
div.floor>header ul.tabs a:hover{
  border-color:#e4393c;
  background:url(Images/index/tab_arraw.png) no-repeat center bottom;
}
div.floor>header ul.links li{
  /*左浮动，宽度，下边框，文本水平居中对齐，上下内边距*/
  float:left;
  width:105px;
  border-bottom:2px solid #aaa;
  text-align:center;
  padding:16px 0 6px 0;
}
/*左侧*/
div.floor aside.lf-list{
  /*左浮动，宽度，高度，右下边框，box-sizing*/
  float:left;
  width:211px;
  height:362px;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  box-sizing:border-box;
}
aside.lf-list ul{
  overflow:hidden;
  margin:0 5px;
}
aside.lf-list li{
  /*宽度，左浮动，行高*/
  width:50%;
  float:left;
  line-height:25px;
}
div.floor div.content{
  /*左浮动，宽度，高度*/
  float:left;
  width:790px;
  height:362px;
}
div.floor div.content dl{
  float:left;
  /*宽度，高度，box-sizing，右下边框*/
  width:158px;
  height:181px;
  box-sizing:border-box;
  border-bottom:1px solid #ddd;
  border-right:1px solid #ddd;
}
div.floor dt{
  text-align:center;
}
div.floor dd{
  padding:0 10px;
  line-height:2;
}
div.floor dd.text{
  text-align:center;
  color:#e4393c;
}
div.floor div.content div{
  float:left;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
/*右侧列表*/
aside.rt-list{
  float:left;
  width:210px;
  height:362px;
}
aside.rt-list ul{
  overflow:hidden;
  border-bottom:1px solid #ddd;
}
aside.rt-list li{
  width:50%;
  float:left;
  border-top:1px dashed #ddd;
  text-align:center;
}
/**热门晒单 & 在线读书**/
div.share{
  /*左浮动，宽度，min-height,边框，内边距，box-sizing*/
  float:left;
  width:445px;
  min-height:100px;
  border:1px solid #ddd;
  border-top:2px solid #aaa;
  padding:0 5px;
  box-sizing:border-box;
}
div.share>p{
  /*文本：加粗，大小，上下内边距*/
  font-weight:bold;
  font-size:14px;
  padding:5px 0;
}
div.share li{
  /*下边框，内边距，overflow */
  border-bottom:1px dotted #ddd;
  padding:8px;
  overflow:hidden;
}
div.share li>p{
  /*浮动，相对定位*/
  float:left;
  /*为了 小图片的 绝对定位*/
  position:relative;
}
div.share li>p img{
  width:50px;
}
div.share li>p i.shai{
  /*宽度，高度，背景图，绝对定位*/
  width:17px;
  height:19px;
  position:absolute;
  right:-5px;
  top:-7px;
  background:url(Images/iconlist_3.png) no-repeat -200px -50px;
}
div.share li div{
  float:left;
  margin-left:15px;
}
div.share li h3{
  /*取消加粗，最小高度，最大高度，溢出隐藏*/
  font-weight:normal;
  min-height:29px;
  max-height:38px;
  overflow:hidden;
  width:270px;
}
div.share li h3 a{
  color:#005aa0
}
div.share li h4{
  /*取消加粗，最大高度，溢出隐藏*/
  font-weight:normal;
  max-height:32px;
  overflow:hidden;
  width:270px;
  /*右侧背景图：右内边距=双引号的宽度+34px(中间空白距离),最小高度(为了适应 双引号)，背景属性*/
  padding-right:68px;
  min-height:24px;
  background:url(Images/iconlist_3.png) no-repeat 304px -80px;
}
/*更多*/
#more{
  width:311px;
  height:189px;
  float:right;
}
/*在线读书*/
div.reading{
  border:1px solid #ddd;
  border-top:2px solid #aaa;
  min-height:100px;
  padding:0 10px 10px 10px;
}
div.reading>p{
  padding:5px 0;
}
div.reading li{
  line-height:25px;
}
div.order input{
  width:240px;
  height:31px;
  box-sizing:border-box;
  border:1px solid #676767;
  border-bottom-color:#eaeaea;
  border-right-color:#eaeaea;
  /*左内边距，背景**/
  padding-left:26px;
  background:url(Images/iconlist_3.png) no-repeat -251px -43px;
}
div.order button{
  /*宽度，高度，边框倒角，背景颜色，文本：颜色，大小，加粗*/
  width:65px;
  height:31px;
  border-radius:5px;
  background:#e4393c;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  border:none;

}